<template name="groups">
	{{> navigation}}

	<div class="container">
		<div class="card-panel">
			<div class="row">
				{{> groupAdd}}
			</div>
			<table class="row">
				<tr>
					<th> Listing groups </th>
				</tr>
				<tr>
				{{# each groups}}
					{{> groupEdit}}
				{{/each}}
				</tr>
				<tr>
				{{# each groups}}
					{{name}}
				{{/each}}
				</tr>
			</table>	
		</div>
	</div>
</template>

<template name="groupAdd">
	<div class="row form-container">
		{{#autoForm id="insertgroupForm" class="col s12" doc=this type="method" meteormethod="saveGroupData" schema="groupSchema" }}
			
			<div class="input-field col s12 m6"> 
			        {{> afQuickField name='name'}}
			</div>

			<div class="input-field col s12 m6"> 
			        {{> afQuickField name='roles' multiple=true}}
			</div>

			<div class="input-field col s12 m6"> 
			        {{> afQuickField name='userIds' multiple=true}}
			</div>
			
			<div class="col s12 m6">
				<button class="waves-effect waves-light btn" type="submit">Insert</button>
			</div>
		{{/autoForm}}
	</div>
</template>

<template name="groupEdit">
	{{#autoForm id=formId class="col s12" doc=this type="method" meteormethod="saveGroupData" schema="groupSchema" }}
			<div class="input-field col s12 m6"> 
			        {{> afQuickField name='name'}}
			</div>

			<div class="input-field col s12 m6"> 
			        {{> afQuickField name='roles' multiple=true}}
			</div>

			<div class="input-field col s12 m6"> 
			        {{> afQuickField name='userIds' multiple=true}}
			</div>
			
			<div class="col s12 m6">
				<button class="waves-effect waves-light btn" type="submit">Update</button>
			</div>
	{{/autoForm}}

	<div><a class="delete"><i class="small center-align mdi-action-delete"></i></a></div>
</template>