<template name="groups">
	{{#if isInRole 'view-groups'}}
		{{> navigation}}

		<div class="container">
			<div class="card-panel" style="padding: 2.5rem 2.5rem">
				<div>
					<div class="row no-bottom-margin">
						<div class="col s12">
							<div class="heading">Add groups</div>
						</div>
					</div>
					{{> groupAdd}}
				</div>
				<div>
					<div class="row no-bottom-margin">
						<div class="col s12">
							<div class="heading">Listing groups</div>
						</div>
					</div>
					{{# each groups}}
						{{> groupEdit}}
					{{/each}}
				</div>
			</div>
		</div>
	{{/if}}
    {{> addButton}}
</template>

<template name="groupAdd">
	{{#if isInRole 'edit-groups'}}
		<div class="row">
			{{#autoForm id="insertgroupForm" doc=this type="method" meteormethod="saveGroupData" schema="groupSchema" }}
				<div class="input-field col s12">
				    {{> afQuickField name='name'}}
				</div>
				<div class="input-field col s12 m6">
			        {{> afQuickField name='roles' multiple=true placeholder="Select roles"}}
				</div>
				<div class="input-field col s12 m6">
			        {{> afQuickField name='userIds' multiple=true placeholder="Select users"}}
				</div>
				<div class="input-field col s12">
					<button class="waves-effect waves-light btn" type="submit">Insert</button>
				</div>
			{{/autoForm}}
		</div>
	{{/if}}
</template>

<template name="groupEdit">
	{{#if isInRole 'edit-groups'}}
		<div class="row">
			{{#autoForm id=formId doc=this type="method" meteormethod="saveGroupData" schema="groupSchema" }}
				<div class="input-field col s12">
			        {{> afQuickField name='name'}}
				</div>
				<div class="input-field col s12 m6">
			        {{> afQuickField name='roles' multiple=true placeholder="Select roles"}}
				</div>
				<div class="input-field col s12 m6">
			        {{> afQuickField name='userIds' multiple=true placeholder="Select users"}}
				</div>
				<div class="input-field col s12">
					<button class="waves-effect waves-light btn delete" type="button">Delete</button>
					<button class="waves-effect waves-light btn" type="submit">Update</button>
				</div>
			{{/autoForm}}
		</div>
	{{/if}}
</template>