<template name="groups">
	{{#if isInRole 'view-groups'}}
		{{> navigation}}

		<div class="container">
			<div class="card-panel">
				<div class="row">
					{{> groupAdd}}
				</div>
				<table class="row" style="margin-left:35px;">
					<tr>
						<th><p><h5> Listing groups </h5></p></th>
					</tr>
					<tr>
					{{# each groups}}
						{{> groupEdit}}
					{{/each}}
					</tr>
					<tr>
					{{# each groups}}
						{{name}}
					{{/each}}
					</tr>
				</table>
			</div>
		</div>
	{{/if}}
</template>

<template name="groupAdd">
	{{#if isInRole 'edit-groups'}}

		<div class="row form-container">
			{{#autoForm id="insertgroupForm" class="col s12" doc=this type="method" meteormethod="saveGroupData" schema="groupSchema" }}

				<div class="input-field col s12 m4">
				        {{> afQuickField name='name'}}
				</div>

				<div class="input-field col s12 m4">
				        {{> afQuickField name='roles' multiple=true}}
				</div>

				<div class="input-field col s12 m4">
				        {{> afQuickField name='userIds' multiple=true}}
				</div>

				<div class="col s12 m6">
					<button class="waves-effect waves-light btn" type="submit">Insert</button>
				</div>
			{{/autoForm}}
		</div>

	{{/if}}
</template>

<template name="groupEdit">
	{{#if isInRole 'edit-groups'}}

	{{#autoForm id=formId class="col s12" doc=this type="method" meteormethod="saveGroupData" schema="groupSchema" }}
			<div class="input-field col s12 m2">
			        {{> afQuickField name='name'}}
			</div>

			<div class="input-field col s12 m3">
			        {{> afQuickField name='roles' multiple=true}}
			</div>

			<div class="input-field col s12 m3">
			        {{> afQuickField name='userIds' multiple=true}}
			</div>

			<div class="col s12 m2">
				<button class="waves-effect waves-light btn" type="submit">Update</button>
			</div>
	{{/autoForm}}

	<div class="col s12 m2"><a class="delete"><i class="small center-align mdi-action-delete"></i></a></div>

	{{/if}}
</template>
