<template name="projectAdd">
	{{> navigation}}

	<div class="container card-panel add-project">
		<h4 class="teal form-header">Add a matter</h4>
		<div class="row form-container">

			<!-- Form starts>
			{{#autoForm id="insertClientForm" doc=this type="method" meteormethod='saveClientData' schema='clientSchema'}}
		<div>{{> afFieldInput name="name"}}</div>
        <div>{{> afFieldInput  type='xautocomplete' formid="insertClientForm" name='clientIds' call='clients' xmultiple=true fieldref='name' reference='Clients' renderfunction='renderClients'}}</div>
        <button class="btn btn-primary" type="submit">Insert</button>
    {{/autoForm}}-->

			{{#autoForm id="insertProjectForm" class="col s12" doc=this type="method" meteormethod='saveProjectData' schema='projectSchema'}}
			<div class="row">
				<div class="input-field col l8 m6 s12">
					{{> afFieldInput name="name" id="project__title"}}
					<label for="project__title">Title</label>
				</div>
				<div class="input-field col l4 m6 s12">
					{{> afFieldInput name="suitno" id="project__suitno"}}
					<label for="project__suitno">Suit No</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col l8 m6 s12">
					{{> afFieldInput  type='xautocomplete' formid="insertProjectForm" name='clientIds' call='clients' xmultiple=true fieldref='name' reference='Clients' renderfunction='renderDefaultAutocomplete'}}
					<label for="project__clients">Clients</label>
				</div>
				<div class="col l4 m6 s12" id='attended_by'>
			        {{> afQuickField name='type' options='allowed'}}
				</div>
			</div>
			
			<div class="row">
		      <div class="input-field col s12">
		        {{> afQuickField name='description' rows='6' class='materialize-textarea'}}
		      </div>
	    	</div>
	    	<div class="row">
				<div class="input-field col s12 m6">
					{{> afFieldInput  type='xautocomplete' formid="insertProjectForm" name='lawyerIds' call='lawyers' xmultiple=true fieldref='name' reference='Lawyers' renderfunction='renderDefaultAutocomplete' id="project__lawyer"}}

					<label for="project__laywer">Lawyer</label>
				</div>

				<div class="input-field col s12 m6">
					{{> afFieldInput  type='xautocomplete' formid="insertProjectForm" name='courtId' call='courts' fieldref='name' reference='Courts' renderfunction='renderDefaultAutocomplete' id="project__court"}}
					<label for="project__court">Court</label>
				</div>
				
				<div class="input-field col s12 m6">
					{{> afFieldInput name="followup"  id="followup_date"}}
					<label for="followup_date">Followup Date</label>
				</div>
				
				<div class="input-field col s12 m6">
					{{> afFieldInput name="statute_of_limitation"  id="statute_of_limitation"}}
					<label for="statute_of_limitation">Statute of Limitation</label>
				</div>
				
				<h5>Billing</h5>
				
				<div class="input-field col s12 m6">
					{{> afFieldInput name="bill_retainer"  id="bill_retainer"}}
					<label for="bill_retainer">Retainer</label>
				</div>
				
				<div class="input-field col s12 m6">
					{{> afFieldInput name="bill_hearing_partner"  id="bill_hearing_partner"}}
					<label for="bill_hearing_partner">bill_hearing_partner</label>
				</div>
				
				<div class="input-field col s12 m6">
					{{> afFieldInput name="bill_hearing_sr_associate"  id="bill_hearing_sr_associate"}}
					<label for="bill_hearing_sr_associate">bill_hearing_sr_associate</label>
				</div>
				
				<div class="input-field col s12 m6">
					{{> afFieldInput name="bill_hearing_associate"  id="bill_hearing_associate"}}
					<label for="bill_hearing_associate">bill_hearing_associate</label>
				</div>

				
				
				
				<h5>Reminders</h5>
				
				
				<div class="input-field col s12 m6">
					{{> afQuickField name='reminders' }}
				</div>
				
			</div>
			<button class="addProj waves-effect waves-light btn" type="submit">Insert</button>
			<a class="waves-effect waves-teal btn-flat" href="/projects" style="position: absolute;">CANCEL</a>
			{{/autoForm}}
			<!-- Form ends -->
		</div>	
	</div>
</template>