<template name="projectDetails">
	{{#if isInRole 'view-projects'}}
		{{> navigation}}
		<div class="container project-container">
			<div class="row">
				<div class="col s12  project-title">
					<h3>{{name}}</h3>
				</div>
			</div>
			<div class="row">
				<div class="col s12 white project-details">
					<div class="row">
						<div class="col l6 m6 s12">
							<h6 class="grey-text" >SUIT NO</h6>
							<p>{{ctype}}{{cno}}/{{cyear}}</p>
						</div>
						<div class="col l6 m6 s12">
							<h6 class="grey-text" >UNIQUE ID</h6>
							<p>{{_id}}</p>
						</div>
						<!-- <div class="col l4 m4 s12">
							<h6 class="grey-text" >PRACTICE AREA</h6>
							<p>{{prac_area}}</p>
						</div>  -->
						<div class="col l6 m6 s12">
							<h6 class="grey-text" >CLIENT</h6>
							<p>
								{{#each clients}}
									<a href='/clients/{{_id}}'>{{name}}</a>
									{{/each}}
							</p>
						</div>
						<div class="col l6 m6 s12">
							<h6 class="grey-text">LAWYER</h6>
							<p>
								{{#each lawyers}}
									<a href='/lawyers/{{_id}}'>{{name}}</a>
								{{/each}}
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col l6 m6 s12">
							<h6 class="grey-text" >TYPE</h6>
							<p>{{type}}</p>
						</div>
						<div class="col s6">
							<h6 class="grey-text">COURT</h6>
							<p>
								{{#with court}}
									{{name}}
								{{/with}}
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<h6 class="grey-text">DESCRIPTION</h6>
							<p>{{description}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<h6 class="grey-text" >LABELS</h6>
							{{#each labels}}
								{{> colorElement}}
							{{/each}}
						</div>
					</div>
					<div class="row">
						<div class="col m6 s12">
							{{#each orders}}
								<a href="{{link}}">Visit Order<iframe src="{{link}}"></iframe></a>
								{{/each}}
						</div>
					</div>
					<!-- <div class="row">
						<div class="col s6">
							<h6 class="grey-text">LAST UPDATE</h6>
							<p>20 February, 2015</p>
						</div>
						<div class="col s6">
							<h6 class="grey-text">NEXT HEARING</h6>
							<p>27 February, 2015</p>
						</div>
					</div> -->
					<div class="row">
						<div class="col s12 m12 l8 center">
							{{#if isInRole 'edit-hearings'}}
								<a href="/projects/{{_id}}/hearings/add" class="btn waves-effect waves-light teal">Add hearing</a>
							{{/if}}
							{{#if isInRole 'edit-tasks'}}
								<a href="/projects/{{_id}}/tasks/add" class="btn waves-effect waves-light teal">Add task</a>
							{{/if}}
							{{#if isInRole 'edit-meetings'}}
								<a href="/projects/{{_id}}/meetings/add" class="btn waves-effect waves-light teal">Add meeting</a>
							{{/if}}
						</div>
						<div class="col s12 m12 l4">
							<a href="/projects/{{_id}}/edit" class="waves-effect waves-teal btn">Edit</a>
							<a href="/projects" class="waves-effect waves-teal btn delete">Delete</a>
						</div>

					</div>
				</div>
			</div>

			<!-- Activity Feed -->
			<div class="row col s12 white project-details">
				<h3>Case History</h3>
				<table class="bordered hoverable responsive-table projects-table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<!-- <td>  03-FEB-2015 </td>
						<td>	 Listed In Court 1 As Item No 16</td>
						<td><a href="#"><i class="small center-align mdi-action-description"></i></a></td> -->
						{{ #each feed}}
							<tr>
								<td>{{date}}</td>
								<td>{{type}} {{ desc }}</td>
								<td><a href="/{{type}}s/{{data._id}}"><i class="small center-align mdi-action-description"></i></a></td>
							</tr>
						{{ /each}}
					</tbody>
				</table>
			</div>
		</div>
	{{/if}}
</template>
