<template name="projectRow">
<li class="collection-item">
	<div class="project-heading">
		{{uniqueId}} - {{name}}
		{{#each labels}}
			{{> colorElement}}
		{{/each}}
		<a class="delete"><i class="small center-align mdi-action-delete"></i></a>
		<a href="/projects/{{_id}}"><i class="small center-align mdi-action-description"></i></a>
	</div>
	<div class="more-project-detail">
		{{#each clients}}
			<a href='/clients/{{_id}}'>{{name}}</a>
		{{/each}} | 
		{{#each lawyers}}
			<a href='/lawyers/{{_id}}'>{{name}}</a>
		{{/each}} - 
		{{next_hearing}}
	</div>
</li>
<!-- <tr class="project-row">
	<td> {{uniqueId}}</td>
	
	<td></td>
	<td></td>
</tr>
{{#each labels}}
	{{> colorElement}}
{{/each}} -->
</template>