<template name="docs">
	<style>
		.picker{
			position : relative;
		}
	</style>
 <button type="button" id="pick">Pick File</button>
 <div id="result"></div>

 <!-- <input type="text" class="file_title"> -->
 
 <!-- <button type="button" id="create">Create File</button> -->
 	
 	<form>
        <input type="text" name="fileTitle">
        <input type="submit" value="Add Player">
    </form>

    <a href="{{ getRootFolder.alternateLink }}">Root Folder</a>
    <ul>
	    {{ #each childrenFromRoot }}
		<li>{{ result.title }}</li>
		{{ /each }}
	</ul>
</template>

<template name="folderView">
	<a href="{{ getRootFolder.alternateLink }}">Root Folder</a>
	{{ #each childrenFromRoot }}
	{{ result.title }}
	{{ /each }}
</template>