<template name="docs">
	{{ >navigation}}
 <button type="button" id="pick">Pick File</button>
 <div id="result"></div>

 <!-- <input type="text" class="file_title"> -->
 
 <!-- <button type="button" id="create">Create File</button> -->
 	
 	<!-- <form>
        <input type="text" name="fileTitle">
        <input type="submit" value="Add Player">
    </form> -->

    

	
		{{ #if showLoader }}
		<div class="progress">
	      <div class="indeterminate"></div>
	  	</div>
	  	{{else}}
	  		<a href="{{ getRootFolder.alternateLink }}" id="root" target="_blank">Open Current Folder in Google Drive</a>
	    	<ul class="collection with-header">
	    	<li class="collection-header">
	    		<h5>
		    		{{ #each getFolderStack }}
						<a class="folder" id="{{this.id}}">{{this.title}}</a><span class="breadcumbs"> / </span>
					{{ /each }}
				</h5>
	    	</li>
		    {{ #each childrenFromRoot }}
			<a href="{{#unless isFolder}} {{this.result.alternateLink}} {{/unless}}" target="_blank" class="collection-item {{#if isFolder}} folder {{/if}}" id="{{this.result.id}}">
				<img src="{{this.result.iconLink}}" class="document-icon">
					{{this.result.title}}
			</a>
			{{ /each }}
			</ul>
			<!-- {{ > folderView}} -->
	  	{{/if}}

</template>



<!-- <template name="folderView">
	<a href="{{ getRootFolder.alternateLink }}">Root Folder</a>
	<ul>
	{{ #each childrenFromRoot }}
		<li>
			{{ renderChildNode }}
		</li>
	{{ /each }}
	</ul>
</template> -->