<template name="afArrayField_series">
	<div class="panel panel-default">
		<div class="panel-heading">{{afFieldLabelText name=this.atts.name}}</div>
		{{#if afFieldIsInvalid name=this.atts.name}}
			<div class="panel-body has-error">
				<span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
			</div>
		{{/if}}
		<ul class="list-group">
			{{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
				<li class="row list-group-item autoform-array-item">
					<div class="media">
						<div class="media-body col">
							<div class="reminder">
								{{> afQuickField name=this.name label=false options="auto"}}
							</div>
						</div>
						{{#if afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}
              <span class="autoform-remove-item"><button class="btn-floating btn-medium red" style="margin-top: 32px"><i class="mdi-content-clear"></i></button></span>
						{{/if}}
					</div>
				</li>
			{{/afEachArrayItem}}
			{{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
				<li class="list-group-item row" style="padding-left:10px">
					<button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}"></button>
				</li>
			{{/if}}
		</ul>
	</div>
</template>
