<template name="hearingDetails">
	<!-- <tr>
		<td>{{title}}</td>
		<td>{{court}}</td>
		<td>{{date}}</td>
		<td>
		<button class="delete">Delete</button>
		<a href="/hearings/{{_id}}/edit">Edit</a></td>
	</tr>  -->
	
	<p>proceedings: {{proceedings}}</p>
	<p>lawyer : {{attorney}}</p>
	<p>judge : {{judge}}</p>
	<p>date : {{date}}</p>
	<!-- <p>time : {{}}</p>-->
	<p>court : {{court}}</p>
	<!-- <p>court room</p> -->
	<p>billing details : {{bill_amt}}</p>
	<button>generate bill</button>
	<button>update client</button>
	<button class="delete">Delete</button>
	<a href="/hearings/{{_id}}/edit">Edit</a>
</template>


