<template name="labelAdd">
	<style type="text/css">
		.fill-control, .depending-control{
			height:4rem;
		    margin-top: 1rem;
		}
		.fill-control {
		    width:auto;
		    overflow:hidden;
		}
		.depending-control {
		    float: right;
		    display: table;
		}
		.depending-control > div{
			display: table-cell;
			vertical-align: bottom;
			padding-bottom: 1rem;
		}
		.depending-control .form-group{
			display: inline-block;
			vertical-align: bottom;
			margin: 0rem 0.75rem;
		}
	</style>
	{{#if isInRole 'edit-labels'}}
		<div class="row">
			{{#autoForm id="insertlabelForm" class="col s12" doc=this type="method" meteormethod="saveLabelData" schema="labelSchema" }}
				<div class="heading">Add Labels</div>
				<div class="depending-control">
					<div>
						{{> afQuickField name='color' label=false}}
					    <button class="waves-effect waves-light btn" type="submit">Insert</button>
					</div>
				</div>
    			<div class="fill-control">
    				{{> afQuickField name='name' label=false placeholder="Name"}}
    			</div>
			{{/autoForm}}
		</div>
	{{/if}}
</template>