<template name="labelAdd">
	<div class="row form-container">
		{{#autoForm id="insertlabelForm" class="col s12" doc=this type="method" meteormethod="saveLabelData" schema="labelSchema" }}
			
			<div class="input-field col s12 m6" id="attended_by_type"> 
			        {{> afQuickField name='name'}}
			</div>

			<div class="input-field col s12 m6" id="attended_by_type"> 
			        {{> afQuickField name='color'}}
			</div>
			
			<div class="col s12 m6">
				<button class="waves-effect waves-light btn" type="submit">Insert</button>
			</div>
		{{/autoForm}}
	</div>
</template>