<template name="labels">
	{{> navigation}}

	<div class="container">
		<div class="card-panel">
			<div class="row">
				{{> labelAdd}}
			</div>
			
			<table class="row">
				<tr>
					<th> Label </th>
				</tr>
				{{# each labels}}
				{{ > labelRow}}
				{{/each}}
			</table>	
		</div>
	</div>
</template>

<template name="labelRow">
	<tr>
		<td>{{>colorElement}}</td>
		<!--th><a href="/labels/{{_id}}/edit">Edit </a></th-->
		<td><button class="delete" id='delete_task'>Delete</button></td>
	</tr>

	
</template>

<template name="colorElement">
	<div class="colorElement" style="background-color: {{color}}; color: {{complement color}}">{{name}}</div>
</template>