<template name="labels">
	{{#if isInRole 'view-labels'}}
		{{> navigation}}

		<div class="container">
			<div class="card-panel">
				{{#if isInRole 'edit-labels'}}
					<div class="row">
						{{> labelAdd}}
					</div>
				{{/if}}

				<table class="row" style="margin-left:35px;">
					<tr>
						<th><p><h5> Label </h5></p></th>
					</tr>
					{{# each labels}}
					{{ > labelRow}}
					{{/each}}
				</table>
			</div>
		</div>
	{{/if}}
</template>

<template name="labelRow">
	<tr>
		<td>{{>colorElement}}</td>
		<!--th><a href="/labels/{{_id}}/edit">Edit </a></th-->
		{{#if isInRole 'edit-labels'}}
			<td><button class="delete" id='delete_task'>Delete</button></td>
		{{/if}}
	</tr>
</template>

<template name="colorElement">
	<div class="colorElement" style="background-color: {{color}}; color: {{complement color}}">{{name}}</div>
</template>
