/* CSS declarations go here */

body {
	background: #eee;
}

/* Nav Elements */

.brand-logo {
	padding-left: 1.5rem !important;
}


/* ICONS*/

.mdi-action-description {
	color: #ccc;
	text-decoration: none; 
}

.mdi-action-description:hover,
.mdi-action-description:active {
	color: #26a69a;
}

.mdi-action-delete {
	color: #ccc;
	text-decoration: none; 
}

.mdi-action-delete:hover,
.mdi-action-delete:active {
	color: #f44336;
}

/* Project List */ 

.project-list-container {
	float: left;
	padding: 2rem;
	margin: 1rem;
	background: white;
	position: relative;
}

.projects-table {
	margin-bottom: 5rem;
}

table tr td,
table tr th {
	padding: 1rem 0 !important;
}

.project-row {
	position: relative;
}

.project-type {
	margin-left: 0.75rem; 
}

.add-project-icon {
	float: right;
	position: absolute;
	bottom: 1rem;
	right: 3rem;
}



/* Project Details */

.project-container {
	margin: 2rem auto;
}

.project-container .row:first-child {
	margin-bottom: 0;
}

.project-details {
	padding: 2rem !important;
}

/* .project-details .row {
	margin-bottom: 0;
} */

.project-title {
	background: #009688; /* Old browsers */
	background: -moz-linear-gradient(top,  #009688 0%, #14bcab 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#009688), color-stop(100%,#14bcab)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #009688 0%,#14bcab 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #009688 0%,#14bcab 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #009688 0%,#14bcab 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #009688 0%,#14bcab 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009688', endColorstr='#14bcab',GradientType=0 ); /* IE6-9 */
	
	padding: 4rem 2rem !important;
	color: white;
}

.project-details p {
	line-height: 1.5em;
	font-size: 1.2em;

}

.project-notes {
	margin-top: 1.5rem;
}

.project-notes .collection li {

}

/* Add and Edit Project Forms */

.add-project,
.edit-project {
	margin: 1rem auto;
	max-width: 1200px;
	padding: 0; 
}

	.form-header {
		margin: 0;
		padding: 3.5rem 2.5rem;
		color: white;	
	}

	.form-container {
		margin-bottom: 0;
		padding: 2.5rem 2.5rem 0;
	}

select {
  display: block;
  padding: 0.75rem 1rem;
}

select option {
	padding: 0.5rem;
}

select option:hover {
	background: #eee;
}

.event-completed{
	text-decoration : line-through;
}

/* Semantic ui label */
/* Table*/
.ui.table {
  width: 100%;
  background: #ffffff;
  margin: 1em 0em;
  border: 1px solid #d0d0d0;
  box-shadow: none;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.8);
  border-collapse: separate;
  border-spacing: 0px;
  font-size: 1em;
}
.ui.table:first-child {
  margin-top: 0em;
}
.ui.table:last-child {
  margin-bottom: 0em;
}

/* Table Row */
.ui.table tr td {
  border-top: 1px solid #d4d4d5;
}
.ui.table tr:first-child td {
  border-top: none;
}

/*TODO: remove the !important */
/* Table Cells */
.ui.table td {
  padding: 0.7em 0.8em !important;
  text-align: left;
  vertical-align: middle;
}

/* form validation*/
	/* label color */
   /*.input-field label {
     color: #000;
   }*/
   /* label focus color */
   /*.input-field input[type=text]:focus + label {
     color: #000;
   }*/
   /* label underline focus color */
  /* .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }*/
   /* valid color */
   /*.input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }*/
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #FF5252;
     box-shadow: 0 1px 0 0 #FF5252;
   }
   /* icon prefix focus color */
   /*.input-field .prefix.active {
     color: #000;
   }
*/   
        

/* TODO: Refactor this to use extend instead of copying items */
.autoform-remove-item{
  font-family: "Material-Design-Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.autoform-add-item{
  font-family: "Material-Design-Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.autoform-remove-item:before{
	content: "\e711";
}

.autoform-add-item:before{
	content: "\e6fb";
}

/* CSS VODOO. Really someone please fix this */
div.login{
	height:100vh;
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
	background-image: url('https://blogpfeifferlab.files.wordpress.com/2012/01/cf_desk_0937.jpg');
}

div.login .card-panel{
	opacity: 0.92;
}

div.nav-wrapper div#login-dropdown-list{
	width: 230px;
	background-color: #009688;
	padding:5px;
	position:fixed;
  z-index: 1000;
	right:0px;
	top:64px;
}

div.nav-wrapper a.login-close-text{
  padding: 0px;
}
div.nav-wrapper a.login-close-text:before{
  font-family: "Material-Design-Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	content: "\e89c";
}
nav .nav-wrapper{
  position: static !important;
}
.document-icon{
  margin-right: 20px;
}
.breadcumbs{
  color: #bbb;
}
.folder{
  cursor: pointer;
}