<template name="addTimesheet">
	
	
	{{ # autoForm id="insertTimesheetForm" class="col s12" doc=this type="method" meteormethod="saveTimesheetData" schema="timesheetSchema" }}
		
		<p>
			{{> timetracker}}
		</p>
		
		
		<input type='text' name="duration" class="form-control" value="{{session_time}}"  id="duration" data-schema-key="duration" >
		
		<div class="input-field col l4 m6 s12">
			{{> afFieldInput  type='xautocomplete' formid="insertTimesheetForm" name='caseId' call='cases' fieldref='name' reference='Projects' renderfunction='renderDefaultAutocomplete' id="meeting_case"}}
			<label for="meeting_case">Matter</label>
			
		</div>
		<div class="col l4 m6 s12">
	        {{> afQuickField name='type' options='allowed'}}
		</div>
		
		
		
	<button class="waves-effect waves-light btn" type="submit">Insert</button>
	<a class="waves-effect waves-teal btn-flat" href="/hearings" style="position: absolute;">Cancel</a>
	{{/autoForm}}
</template>

<template name="timesheetDetail">
	{{duration}}
</template>

<template name="timesheets">
	{{ #each timesheets }}
	<p>{{ > timesheetRow }}</p>
	{{/each}}
</template>

<template name="timesheetRow">
	{{duration}},{{case}},<a href="/timesheets/{{_id}}/edit">edit</a>
</template>

<template name="editTimesheet">
	<h1>
		time from session : {{session_time}}
	</h1>
	{{ # autoForm id="insertTimesheetForm" class="col s12" doc=this type="method" meteormethod="saveTimesheetData" schema="timesheetSchema" }}
		
		<p>
			{{> timetracker}}
		</p>
		
		<input type='text' name="duration" class="form-control" value="{{fetch_duration}}"  id="duration" data-schema-key="duration" >
		
		
		<div class="input-field col l4 m6 s12">
			{{> afFieldInput  type='xautocomplete' formid="insertTimesheetForm" name='caseId' call='cases' fieldref='name' reference='Projects' renderfunction='renderDefaultAutocomplete' id="meeting_case"}}
			<label for="meeting_case">Matter</label>
			
		</div>
		<div class="col l4 m6 s12">
	        {{> afQuickField name='type' options='allowed'}}
		</div>
		
		
		
	<button class="waves-effect waves-light btn" type="submit">Insert</button>
	<a class="waves-effect waves-teal btn-flat" href="/hearings" style="position: absolute;">Cancel</a>
	{{/autoForm}}
</template>
