<template name="addTimesheet">
	{{ # autoForm id="insertTimesheetForm" class="col s12" doc=this type="method" meteormethod="saveTimesheetData" schema="timesheetSchema" }}
		
		<p>
			{{> timetracker}}
		</p>
		
		
		
		<div class="input-field col l4 m6 s12">
			{{> afFieldInput  type='xautocomplete' formid="insertTimesheetForm" name='caseId' call='cases' fieldref='name' reference='Projects' renderfunction='renderDefaultAutocomplete' id="meeting_case"}}
			<label for="meeting_case">Matter</label>
			
		</div>
		<div class="col l4 m6 s12">
	        {{> afQuickField name='type' options='allowed'}}
		</div>
		
		
		
	<button class="waves-effect waves-light btn" type="submit">Insert</button>
	<a class="waves-effect waves-teal btn-flat" href="/hearings" style="position: absolute;">Cancel</a>
	{{/autoForm}}
</template>

