<template name="addTimesheet">
    <style>
        #timesheet_description{
            height: 6rem;
            resize: none;
        }
    </style>
    {{> navigation }}
    <div class="container add-project">
        <div class="row">
            <div class="col s12">
                <h4 class="teal form-header">Add a Timesheet</h4>
                {{# autoForm id="insertTimesheetForm" class="card-panel" doc=this type="normal" resetOnSuccess="true" schema="timesheetSchema" }}
                    <div class="row">
                        <div class="input-field col s12">
                            {{> afQuickField name='caseId' id="timesheet_case" label=false}}
                            <label for="caseId" class="active">Matter</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            {{> afFieldInput type="selectize" isReactiveOptions="true" formid="insertTimesheetForm" name='taskId' options=tasks id="timesheet_task" placeholder="Select a task"}}
                            <label for="taskId" class="active">Task</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            {{> afQuickField name='description' label=false id="timesheet_description"}}
                            <label class="active">Description</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            {{> afQuickField name='type' options='allowed' label=false id="timesheet_type"}}
                            <label for="type" class="active">Type</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <button class="waves-effect waves-light btn" type="submit" id="create-timer">Create</button>
                            <a class="waves-effect waves-teal btn-flat" href="/projects" style="position: absolute;">Cancel</a>
                        </div>
                    </div>
                {{/autoForm}}
            </div>
        </div>
    </div>
</template>

<template name="runningTimesheetRow">
    <div class="valign-wrapper">
        <div class="col s3 truncate">
            {{case}}
        </div>
        <div class="col s6 truncate">
            {{getDescription}}
        </div>
        <div class="col s3">
            {{duration}}
        </div>
    </div>
</template>

<template name="timesheets">
    <style>
        #add-timesheets{
            right: 24px;
            bottom: 45px;
            position: fixed;
        }
        #timer-lists h5{
            padding: 1rem 0.9rem;
        }
        #timer-lists .card-panel{
            min-height: 400px;
            padding: 0;
        }
        #timer-lists .collection{
            margin: 0;
        }
        .state-change{
            padding: 0 10px;
            margin-right: 10px;
        }

    </style>
    {{> navigation}}
    <div class="container-fluid">
        <div class="row" id="timer-lists">
            <div class="col s12 m12 l6">
                <h5 class="teal white-text">Running Timers</h5>
                <div class="card-panel">
                    <ul class="collection" id="runningTimesheetList">
                        <li class="collection-item row">
                            <div class="col s3">
                                <b>Case</b>
                            </div>
                            <div class="col s6">
                                <b>Description</b>
                            </div>
                            <div class="col s3">
                                <b>Time</b>
                            </div>
                        </li>
                        {{#each runningTimsheets}}
                            <a href="#runningTimesheetDetailModal" class="black-text modal-trigger collection-item row">{{> runningTimesheetRow}}</a>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col s12 m12 l6">
                <h5 class="teal white-text">Archived Timers</h5>
                <div class="card-panel">
                    <ul class="collection">
                        <li class="collection-item row">
                            <div class="col s3">
                                <b>Case</b>
                            </div>
                            <div class="col s6">
                                <b>Description</b>
                            </div>
                        </li>
                        {{#each savedTimesheets}}
                            <li class="collection-item row">{{> savedTimesheetRow}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="runningTimesheetDetailModal" class="modal modal-fixed-footer">
        {{#with selectedTimesheet}}
            {{> runningTimesheetModalBody}}
        {{/with}}
    </div>
    <a class="btn-floating btn-large teal" id="add-timesheets" href="/timesheets/add">
        <i class="large mdi-content-add"></i>
    </a>
</template>

<template name="runningTimesheetModalBody">
    <style type="text/css">
        #timer-module .btn-flat{
            float: none;
        }
        #timer-module{
            float: left;
        }
        .modal .btn-flat{
            padding: 0rem 1rem;
        }
    </style>
    <div class="modal-content">
        <h4>Case: {{case}}</h4>
        <p><b>Type:</b> {{getType}}</p>
        <p><b>Task:</b></p>
        <p>{{task}}</p>
        {{#if getDescription}}
            <p><b>Description:</b></p>
            <p>{{getDescription}}</p>
        {{/if}}
    </div>
    <div class="modal-footer">
        <div id="timer-module">
            <a class="btn-flat waves-effect" id="playPause">
                {{#if isRunning}}
                    <i class="mdi-av-pause"></i>
                {{else}}
                    <i class="mdi-av-play-arrow"></i>
                {{/if}}
            </a>
            {{duration}}
            <a class="btn-flat waves-effect" id="reset"><i class="mdi-av-repeat"></i></a>
            <a class="btn-flat waves-effect" id="save"><i class="mdi-content-save"></i></a>
        </div>
        <!-- <a href="#!" class="modal-action waves-effect waves-green btn-flat">Edit</a> -->
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</template>

<template name="savedTimesheetRow">
    <style type="text/css">
        .action-icon{
            font-size: 1.5rem;
            padding: 0 0.5rem;
        }
    </style>
    <div class="valign-wrapper">
        <div class="col s3 truncate">
            {{case}}
        </div>
        <div class="col s6 truncate">
            {{description}}
        </div>
        <div class="col s3 right-align">
            <a href="/timesheets/{{_id}}/edit" class="action-icon"><i class="mdi-editor-mode-edit"></i></a>
            <a href="#!" class="delete action-icon"><i class="mdi-action-delete"></i></a>
        </div>
    </div>
</template>

<template name="editTimesheet">
    {{> navigation }}
    <div class="container card-panel add-project">
        <h4 class="teal form-header">Edit a Timesheet</h4>

        <div class="row form-container">

            {{# autoForm id="insertTimesheetForm" class="col s12" doc=this type="method" meteormethod="saveTimesheetData" schema="timesheetSchema" }}

                <div class="row ">
                    <div class="input-field col s12">

                        {{> timetracker}}
                    </div>
                </div>
                <div class="row ">
                    <div class="input-field col s12">

                        <input type='text' name="duration" class="form-control" value="{{fetch_duration}}" id="duration"
                               data-schema-key="duration">
                    </div>
                </div>

                <div class="row input-field col s12">
                    {{> afFieldInput  type='xautocomplete' formid="insertTimesheetForm" name='caseId' call='cases' fieldref='name' reference='Projects' renderfunction='renderDefaultAutocomplete' id="meeting_case"}}
                    <label for="meeting_case" class="active">Matter</label>
                </div>

                <div class="row input-field col s12">
                    {{> afQuickField name='type' options='allowed' label=false}}
                    <label for="type" class="active">Type</label>
                </div>


                <button class="waves-effect waves-light btn" type="submit">Insert</button>
                <a class="waves-effect waves-teal btn-flat" href="/timesheets" style="position: absolute;">Cancel</a>
            {{/autoForm}}
        </div>
    </div>
</template>

<template name="timesheetDetail">
    <div class="row">
        {{> navigation}}
    </div>
    <div class="container">
        <div class="card-panel form-container">
            <div class="row">
                <!-- <a class="waves-effect waves-light btn" href = "/timesheets/add">Add Timesheet </a> -->
                <table class="centered bordered">
                    <thead>
                    <tr>
                        <th data-field="duration">Users</th>
                        <th data-field="desc">Time Spent</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each timeloop}}
                        {{> timeDetailRow}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table class="centered bordered">
                    <thead>
                    <tr>
                        <th data-field="duration">Timesheets</th>
                        <th data-field="user">User</th>
                        <th data-field="desc">Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each timesheetloop}}
                        {{> timesheetDetailRow}}
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<template name="timeDetailRow">
    <tr>
        <td>{{user}}</td>
        <td>{{duration}}</td>
    </tr>
</template>


<template name="timesheetDetailRow">
    <tr>
        <td>{{type}}</td>
        <td>{{user}}</td>
        <td>{{duration}}</td>
    </tr>
</template>
