<template name="courts" >
	<div class="row">
		{{> navigation}}
	</div>
	<div class="container">
		
		<a class=" col s4 waves-effect waves-light btn"  href='/courts/add'>Add Court</a>
		
		<table class="centered striped bordered" >
				<thead>
			        <tr>	
			            <th data-field="id">Name</th>
			            <th data-field="name">Code</th>
			        </tr>
			    </thead>
			    <tbody>
				{{#each courts}}
				<tr>
					<td>{{name}}</td>
					<td>{{code}}</td>
					<td><a class="waves-effect waves-light btn col s8" href='/courts/{{_id}}/edit'>Edit</a></td>
					<td><a class="waves-effect waves-light btn col s8 delete" >Delete</a></td>
				</tr>
				{{/each}}
				</tbody>
		</table>

	</div>
</template>

<template name="addCourt">
	<div class="container">
	{{ # autoForm id="insertCourtForm" class="col s12" doc=this type="method" meteormethod="saveCourtData" schema="courtSchema" }}
		
		<div class="input-field col l4 m6 s12">
			{{> afFieldInput name="name" type="text" id="name"}}
			<label for="name">Name</label>
		</div>
		<div class="input-field col l4 m6 s12">
			{{> afFieldInput name="code" type="text" id="code"}}
			<label for="code">Code</label>
		</div>
		
	<button class="waves-effect waves-light btn" type="submit">Insert</button>
	<a class="waves-effect waves-teal btn-flat" href="/courts" style="position: absolute;">Cancel</a>
	{{/autoForm}}
	</div>
</template>

<template name="editCourt">
	<div class="container">
	{{ # autoForm id="insertCourtForm" class="col s12" doc=this type="method" meteormethod="saveCourtData" schema="courtSchema" }}
		
		<div class="input-field col l4 m6 s12">
			{{> afFieldInput name="name" type="text" id="name"}}
			<label for="name">Name</label>
		</div>
		<div class="input-field col l4 m6 s12">
			{{> afFieldInput name="code" type="text" id="code"}}
			<label for="code">Code</label>
		</div>
		
	<button class="waves-effect waves-light btn" type="submit">Insert</button>
	<a class="waves-effect waves-teal btn-flat" href="/courts" style="position: absolute;">Cancel</a>
	{{/autoForm}}
	</div>
</template>